.detail {
  @extend %cover;
  @extend %center;

  background: $color-quicksand;
  color: $color-white;

  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__media {
    height: 78.2rem;
    width: 55.4rem;
    position: relative;

    &__image {
      @extend %cover;

      object-fit: cover;
    }
  }
  &__information {
    padding-left: 8.2rem;

    &__title {
      @extend %title-120;

      max-width: 60rem;
    }
    &__collection {
      @extend %description-12;

      text-transform: uppercase;
      margin-bottom: 4rem;
    }
    &__content {
      padding-left: 18rem;
    }
    &__highlights {
      margin-top: 6rem;
    }
    &__list {
      margin-top: 4rem;
    }
    &__item {
      display: flex;

      &:not(:first-child) {
        margin-top: 4rem;
      }
      &__title {
        @extend %description-12;

        width: 100%;
        padding-right: 2.5rem;
      }
      &__description {
        @extend %description-16;

        max-width: 44rem;
      }
    }
    &__link {
      @extend %title-30;

      display: inline-block;
      margin-top: 3rem;
    }
    &__highlight {
      display: flex;
      align-items: center;

      &:not(:first-child) {
        margin-top: 4rem;
      }
      &__icon {
        height: 4rem;
        width: 4rem;
        border: 1px solid currentColor;
        border-radius: 100%;
        margin-right: 3.75rem;
      }
      &__text {
        @extend %description-16;
      }
    }
  }
}


