.history-section {
    color: $color-white;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: z('history-section');
    background: $color-black;
    box-shadow: 0px 130px 160px rgba(0, 0, 0, 0.3);
    top: 0!important; //add

    &__wrapper {
    }

    .lines {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 11.2rem 0 10.5rem 0;
    }

    .line-container {
        display: flex;
        

        @include media('>tablet') {
            &:nth-child(4), &:nth-child(5) {
                display: none;
            }
        }
        @include media('<=phone') {
            &:nth-child(5) {
                display: none;
            }
        }

        &:nth-child(odd) { // move to left
            justify-content: flex-end;

            .line {
                //transition: all 5s ease;
                //transform-origin: 100% 100%;
                //transform: translate(20%, 0);
            }
            
        }
        &:nth-child(even) { // move to right

            .line {
                //transition: transform 5s ease;
                //transform: translate(-20%, 0);
            }
        }
        &:not(:last-child) {
            padding-bottom: 3.2rem;
            border-bottom: 1px solid rgba(#fff, $alpha: 0.1);
        }

    }

    .line {
        flex-shrink: 0;
        width: auto;
        white-space: nowrap;
        overflow: visible;
        display: flex;
        will-change: transform;

        .stroke, .fill {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            margin: 0 2rem;

            @include media('<=tablet') {
                margin: 0 0.8rem;
            }

            span {
                @extend %ramillas-148;

                text-transform: uppercase;
                letter-spacing: 0.2rem;
                margin-right: 4rem;

                @include media('<=tablet') {
                    margin-right: 1.6rem;
                }
            }
            img {

                @include media('>=desktop') {
                    max-width: 108px;
                }
                @include media('<desktop') {
                    max-width: 75px;
                }
                @include media('<=laptop') {
                    max-width: 75px;
                }
                @include media('<=tablet') {
                    max-width: 58px;
                }
                @include media('<=bigPhone') {
                    max-width: 40px;
                }
                @include media('<=phone') {
                    max-width: 36px;
                }
            }
        }
        .stroke {
            span {
                -webkit-text-stroke: 1px #fff;
                text-stroke: 1px #fff;
                color: transparent;
            }
        }
    }

    .move-bg {
        width: 100vw;
        height: 100vh;
        //transition: transform 4s ease;
        position: relative;
        will-change: transform;

        // defaut after lines 100vh;
        // transform: translateY(-100%) scale(0.5);

        img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            object-fit: cover;
            width: 100%;
            min-height: 100%; //comment
        }
    }

    .content {
        width: 100vw;
        height: 100vh;
        position: relative;

        &__wrapper {    
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            padding: 10rem 4.4rem;

            @include media('<=phone') {
                padding: 0 16px;
            }
        }

        .text-item {
            max-width: 92rem;
            margin: 0 auto;

            will-change: opacity, display;

            @include media('>=desktop') {
                max-width: 140rem;
            }
            p {
                @extend %manrope-24;

                text-indent: 6.2rem;
            }
        }

        // defaut after lines 200vh;
        // transform: translateY(-200%);
    }
}