.incident-section {
    color: $color-white;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: z('incident-section');
    background: $color-black;
    box-shadow: 0px 130px 160px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    top: 0!important;//add

    &__wrapper {
        height: 100vh;
        position: relative;
    }

    &__bg {
        @extend %cover;

        .bg-wrapper {
            position: relative;
            width: 100%;
            height: 100%;

            .top, .bottom {
                height: 100%;
                position: absolute;
                display: flex;
            }
            .top {
                top: -50%;
            }
            .bottom {
                left: -30%;
                bottom: -60%;
            }

            img {
                max-width: 80rem;

                &:not(:last-child) {
                    margin-right: 58.2rem;
                }
                @include media('>=desktop') {
                    max-width: 100rem;
                }
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100%;
        padding: 20.4rem calc((100vw - 168.8rem) / 2) 16.2rem calc((100vw - 168.8rem) / 2);
        margin-right: 4.4rem;

        @media(max-width: 1780px) {
            padding: 12.8rem 4.4rem 14.2rem 4.4rem;
        }
        @include media('<=laptop') {
            padding: 12.8rem calc((100vw - 111.2rem) / 2) 14.2rem calc((100vw - 111.2rem) / 2);
        }
        @include media('<=tablet') {
            padding: 10rem 4.4rem 5rem 4.4rem;
        }
        @include media('<=phone') {
            padding: 8rem 16px 4rem 16px;
        }
    }

    .incident-item {
        flex-shrink: 0;
        width: 24.8rem;

        &:not(:last-child) {
            margin-right: 13.6rem;
            @include media('>=desktop') {
                margin-right: 18.6rem;
            }
            @include media('<=tablet') {
                margin-right: 4rem;
            }
            @include media('<=phone') {
                margin-right: 2.4rem;
            }
        }
        &:last-child {
            width: calc(24.8rem + ((100vw - 168.8rem) / 2));
            padding-right: calc((100vw - 168.8rem) / 2);
            @media(max-width: 1780px) {
                width: 29.2rem;
                padding-right: 4.4rem;
            }
            @include media('<=laptop') {
                width: calc(24.8rem + ((100vw - 111.2rem) / 2));
                padding-right: calc((100vw - 111.2rem) / 2);
            }
            @include media('<=tablet') {
                width: 29.2rem;
                padding-right: 4.4rem;
            }
            @include media('<=phone') {
                width: calc(29.2rem - 16px);
                padding-right: 16px;
            }
        }

        @include media('>=desktop') {
            width: 39.1rem;

            &:last-child {
                width: calc(39.1rem + ((100vw - 168.8rem) / 2));
            }
        }

        &__head {
            position: relative;
            height: 33.8rem;
            background: $color-grey;
            border: 1px solid rgba($color-white, 0.1);

            @include media('>=desktop') {
                height: 53.3rem;
            }
        }
        
        &_landscape {
            width: 34.4rem;

            @include media('>=desktop') {
                width: 53.6rem;
            }

            .incident-item__head {
                height: 22.3rem;
                @include media('>=desktop') {
                    height: 34.7rem;
                }
            }
        }

        &_empty {
            .incident-item__head {
                width: 39rem;
                height: 53.3rem;
            }
        }
        &__image {
            @extend %cover;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__line {
            @extend %center;

            height: 5rem;
            margin: 1.6rem 0;

            .line {
                transition: transform 1.2s $easy-out-expo;
                transform-origin: 0 0;
                transform: scaleY(0);
                background: $color-redbg;
                width: 1px;
                height: 100%;

                &.is-view {
                    transform: scaleY(1);
                }
            }
        }
        &__descr {
            &.is-view {
                p {
                    transform: translateY(0);
                }
            }
            div {
                overflow: hidden;
            }
            p {
                @extend %ramillas-24;

                transition: transform 1.2s $easy-out-expo 1s;
                transform: translateY(110%);
                color: $color-grey-3;
                text-align: center; 
            }
        }

        &__hover {
            @extend %cover;
            @extend %manrope-14;

            padding: 1.6rem;
            line-height: 2.24rem;
        }

        @media(any-hover: hover) {
            .incident-item__hover {
                transition: opacity 1.2s $easy-out-expo;
                background-color: rgba($color-black, 0.5);
                opacity: 0;
    
                .dots {
                    span {
                        transition: transform 1.2s $easy-out-expo;
                        
                    }
                    span:first-child {
                        transform: translateY(4rem);
                    }
                    span:last-child {
                        transform: translateY(7.5rem);
                    }
                }
                p {
                    transition: transform 1.2s $easy-out-expo;
                    transform: translateY(8rem) scaleY(1.1);
                }
            }
            

            &:hover {
                .incident-item__hover {
                    opacity: 1;
                    p {
                        transform: translateY(0);
                    }
                    .dots {
                        span {
                            transform: translateY(0);
                        }
                    }
                }
            }
        }

    }
}