$color-white:#fff;
$color-black:#000;
$color-redbg: #9F1307;

$ramillas-font: 'Ramillas';
$manrope-font: 'Manrope';

$easy-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'header',
  'noise',
  'page-menu',
  'page'
);